# vscode
*.code-workspace

# ignore word temporary files
~*.docx

# ignore individual hyperparameter search trial
hyperparameter_search/hps_logs/orcai-v1-3750-LSTM_HPS

# ignore output files
analysis_scripts/output/csv/*.*
analysis_scripts/output/figures/*.*
analysis_scripts/output/figures/annotations/*.*
analysis_scripts/output/tables/*.*
analysis_scripts/output/tex/*.*
# ignore quarto
analysis_scripts/annotation_overlap_cache
analysis_scripts/annotation_overlap_files
analysis_scripts/annotation_overlap.html

# python cache
__pycache__/

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
SI.pdf
